
.projects {
   &__inner {
      &>*:not(:last-child){
         margin: 0px 0px 200px 0px;
         @media (max-width:768px) {
            margin: 0px 0px 100px 0px;
         }
      }
   }

   &__title {
      text-align: center;
      font-size: 36px;
      letter-spacing: 3px;
      margin: 0px 0px 50px 0px;
   }

}



.content {

   &__img {

      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      border-radius: 5px;
      width: 70%;
      margin: 0 auto;
      @media (max-width: 769px) {
         width: 100%;
      }
      @media (max-width: 767px) {
         display: none;
      }
      &_small {
         width: 60%;
         @media (max-width: 769px) {
            width: 100%;
         }
      }
   }

   &__inner {
      margin: 80px 0px 0px 0px;
      position: relative;
      @media (max-width: 1282px) {
         text-align: center;
      }
   }

   &__visit {
      position: absolute;
      top: 0px;
      right: 60px;

      align-items: center;
      appearance: none;
      background-color: #fff;
      border-radius: 24px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-flex;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      justify-content: center;
      letter-spacing: .25px;
      line-height: normal;
      max-width: 100%;
      overflow: visible;
      padding: 2px 24px;
      // position: relative;
      text-align: center;
      text-transform: none;
      transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
      user-select: none;
      touch-action: manipulation;
      width: auto;
      z-index: 0;
      &:hover {
         box-shadow: rgba(60, 64, 67, .30) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
      }

      @media (max-width: 1282px) {
         position: static;

         margin: 30px 0px 0px 0px;
      }
   }

   &__descr {
      @media (max-width: 993px) {
         padding: 0px 0px 0px 60px;
      }
      text-align: left;
      p {
         position: relative;
         margin: 0 auto;
         max-width: 800px;
         line-height: 150%;
         letter-spacing: 1.5px;
      }
   }
}

.span {
   &__letter-ojjo {
      font-size: 42px;
      font-weight: 700;
      color: $font_color_light;
      background-color: #C7E4EC;
      display: inline-block;
      padding: 10px 6px;
      position: absolute;
      top: -15px;
      left: -50px;
   }
   &__letter-sweets {
      font-size: 42px;
      font-weight: 700;
      color: $font_color_light;
      background-color: #E9BAF8;
      display: inline-block;
      padding: 10px 6px;
      position: absolute;
      top: -18px;
      left: -43px;
   }
   &__letter-bicycles {
      font-size: 42px;
      font-weight: 700;
      color: $font_color_light;
      background-color: #F9EA0D;
      display: inline-block;
      padding: 10px 6px;
      position: absolute;
      top: -18px;
      left: -46px;
   }
   &__letter-cabins {
      font-size: 42px;
      font-weight: 700;
      color: $font_color_light;
      background-color: #ADDE97;
      display: inline-block;
      padding: 10px 6px;
      position: absolute;
      top: -18px;
      left: -45px;
   }
}

