
.header {
   width: 100%;
   min-height: 100px;

   position: relative;
   &__inner {
      height: 100px;
      width: 100%;
      position: fixed;
      background-color: #fff;
      z-index: 5;
      display: flex;
      align-items: center;
      transition: top ease .5s;
   }

   &__menu {
   }
}
.menu {
   width: 1300px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   &__personal {

   }
   &__nav {
   }

   &__list {
      display: flex;
      &>*:not(:last-child){
         margin: 0px 20px 0px 0px;       
      }
   }

   &__item {
      padding: 10px;
      cursor: pointer;
   }

   &__links {
   }
}

.links {
   // position: absolute;
   // top: 30px;
   // right: 200px;

   &__list {
      display: flex;
      &>*:not(:last-child){
         margin: 0px 20px 0px 0px;
      }
   }

   &__item {


      a{
         img {
            height: 40px;
         }
      }
   }
}
