.main {
   margin: 80px 0px 0px 0px;
   // display: flex;
   // flex-wrap: wrap;
   &__about {
   }

   &__resume {
   }

   &__projects {
   }
}
.about {
   display: flex;
   column-gap: 50px;

   &__photo {
      flex: 0 1 auto;
      position: relative;
      width: 400px;
      height: 400px;
      padding: 0px 0px 10% 0px;

      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
         object-position: center;
         border: 10px solid $main_color;
         border-radius: 100%;
      }
   }

   &__info {
      flex: 0 1 60%;
   }

   &__title {
      font-size: 46px;
      margin: 80px 0px 0px 0px;
   }

   &__span {
      &_first {
         color: $font_span_color;
         font-weight: 700;
         font-size: 52px;
      }

      &_second {
         font-size: 26px;
         font-family: 'Rubik Mono One', sans-serif;
      }
      &_third {
         // letter-spacing: 10px;
         font-style: italic;
      }
      &_fourth {
         font-size: 26px;
         color: $font_span_color;
         font-weight: 700;
      }
   }

   &__text {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      font-size: 18px;
      margin: 50px 0px 0px 10px;
      width: 350px;
      letter-spacing: 1px;
      word-spacing: 5px;
      line-height: 150%;
   }

   &__autor {
      font-size: 18px;
      letter-spacing: 1px;
      word-spacing: 5px;
      line-height: 150%;
   }
}


//_______________________________________________________ resume _______________________________________________________


.resume {
   margin: 120px 0px 0px 0px;
   &__stack {
   }

   &__title {
      margin: 0px 0px 50px 0px;
      text-align: center;
      font-size: 36px;
      position: relative;
      letter-spacing: 3px;
      &::after {
         content: "";
         width: 100%;
         height: 10px;
         background-color: $main_color;
         position: absolute;
         top: 70px;
         left: 0;
      }
   }

   &__list {
      display: flex;
      justify-content: space-between;
   }

   &__item {
   }

   &__img {
      &_html {
         height: 100px;
      }
   }
}


//_______________________________________________________ projects _______________________________________________________


.projects {
   margin: 200px 0px 200px 0px;

   &__inner {
      &>*:not(:last-child){
         margin: 0px 0px 100px 0px;
      }
   }

   &__title {
      text-align: center;
      font-size: 36px;
      letter-spacing: 3px;
      margin: 0px 0px 50px 0px;
   }

}



.content {

   &__img {
      // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      border-radius: 5px;
      width: 80%;
      margin: 0 auto;
      img {
      }
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      column-gap: 80px;
      margin: 80px 0px 0px 0px;
   }

   &__visit {
      align-items: center;
      appearance: none;
      background-color: #fff;
      border-radius: 24px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-flex;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      justify-content: center;
      letter-spacing: .25px;
      line-height: normal;
      max-width: 100%;
      overflow: visible;
      padding: 2px 24px;
      position: relative;
      text-align: center;
      text-transform: none;
      transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
      user-select: none;
      touch-action: manipulation;
      width: auto;
      z-index: 0;
      &:hover {
         box-shadow: rgba(60, 64, 67, .30) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
      }
   }

   &__descr {
      max-width: 1000px;
   }
}


// .btn-first {
//    background-color: #ffffff;
//    border: 2px solid #422800;
//    border-radius: 0px;
//    box-shadow: #422800 4px 4px 0 0;
//    color: #422800;
//    cursor: pointer;
//    display: inline-block;
//    font-weight: 600;
//    font-size: 18px;
//    padding: 0 18px;
//    line-height: 50px;
//    text-align: center;
//    touch-action: manipulation;
// }

// .btn-second {
//    align-items: center;
//    appearance: none;
//    background-color: #fff;
//    border-radius: 24px;
//    border-style: none;
//    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
//    box-sizing: border-box;
//    cursor: pointer;
//    display: inline-flex;
//    font-size: 14px;
//    font-weight: 500;
//    height: 48px;
//    justify-content: center;
//    letter-spacing: .25px;
//    line-height: normal;
//    max-width: 100%;
//    overflow: visible;
//    padding: 2px 24px;
//    position: relative;
//    text-align: center;
//    text-transform: none;
//    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
//    user-select: none;
//    touch-action: manipulation;
//    width: auto;
//    z-index: 0;
//    &:hover {
//       box-shadow: rgba(60, 64, 67, .30) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
//    }
// }

// .btn-third {

// }
// .btn-fourth {

// }